.section-cv
{
	border-bottom: 3px dotted #455818;
}

.international
{
	letter-spacing: 1px;
}

.civil, .education, .international
{
	width: 100%;
}

.td-education-left, .td-education-right,
.td-international-left, .td-international-right
{
	vertical-align: top;
}

.td-education-left, .td-international-left
{
	width: 200px;
}

.li-international
{
	list-style: disc;
}
