body
{
    margin:0;
    padding:0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	word-wrap: break-word;
	line-height: 1.7;
	font-size: 16px;
}

a
{
	text-decoration: none;
	color: black;
}

#page-container
{
	width: 100%:
	margin: 0 auto;
	position: relative;
}

.nav-header
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    width: 100%;
    z-index: 1000;
	height: 50px;
	background-color: #FFF;
	font-weight: 200;
	margin-bottom: 0px;
	margin-top: -2px;
	margin-bottom: 0px;
	border-bottom: 1px solid #EEE;
	min-height: 50px;
    /*position: relative;
    margin: 0 auto;
    width: 90%;*/
}

.site-name
{
    float: left;
    width: 30%;
    text-align: center;
    letter-spacing: 1px;
	/*margin-right: 0px;
	margin-left: 0px;*/
    font-size: 24px;
    margin: 8px 0px;
	color: #63b1ee;
}

.site-navigation
{
    float: right;
	text-align: right;
    width: 70%;
	height: 50px;
	position: relative;
}

.ul-site-navigation
{
	width: 100%;
	height: 50px;
	padding: 0;
	margin: 0;
}

.ul-site-navigation li
{
	display: inline-block;
	width: 100px;
	height: 50px;
	line-height: 50px;
	padding: 0;
	text-align: center;
}

.ul-site-navigation li:hover
{
	background: #d1e5f4;
}

.ul-site-navigation li a
{
	display: block;
	width: 100px;
	height: 50px;
	text-decoration: none;
	color: black;
}

.wallpaper
{
    width: 100%;
	margin: 0 auto;
    margin-top: 50px;
	height: 300px;
	background: url("../img/rio_baatz.png") no-repeat;
}

.page-content
{
	margin: 0 auto;
	width: 90%;
	margin-top: 10px;
}

.block-content
{
	width : 90%;
	margin: 0 auto;
	background: none repeat scroll 0% 0% #FFF;
	padding: 40px;
    margin: 0px 0px 40px;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.a-block-content:hover
{
    display: block;
    background-color:#d3e1c6;
}

footer
{
    clear: both;
	width: 100%;
	margin : 0 auto;
	text-align: center;
	color: #FFF;
	background: black;
	margin-top: 10px;
}

.footer-copyright
{
	padding: 14px;
}


.li-algo
{
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1px;
}

.li-algo:hover
{
    background-color:#d3e1c6;
}

.a-algo
{
    display: block;
    width: 100%;
    padding-left: 15px;
}

