<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta name="description" content="Personal blog on programming and remote sensing">
	<meta name="keywords" content="Pierre Lassalle, region-merging, CESBIO, CNES, programming, remote sensing, orfeo Toolbox, segmentation, classification, big data, scalability">
	<meta name="author" content="Pierre Lassalle">
	<title>Pierre Lassalle | Ph.D student at CESBIO</title>
    <!-- Bootstrap -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="css/main_style.css" rel="stylesheet">
	<link href="css/cv.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

  <body>
	<header>
	</header>
	<div id="container">
	<nav>
		<div class="profil">
			<img src="img/profil.jpg"/>
		</div>
		<ul class="menu">
			<li><a class="nav-link" href="index.html">Home</a></li>
			<li><a class="nav-link" href="bio.html">Bio</a></li>
			<li><a class="nav-link" href="publi.html">Publications</a></li>
			<li><a class="nav-link" href="libraries.html">Libraries</a></li>
			<li><a class="nav-link" href="tuto.html">Tutorials</a></li>
			<li><a class="nav-link" href="contact.html">Contact</a></li>
		</ul>
	</nav>
	<div class="content">
