<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta name="description" content="Pierre Lassalle | GRM Tutorial">
	<meta name="keywords" content="Pierre Lassalle, region-merging, CESBIO, CNES, programming, remote sensing, orfeo Toolbox, segmentation, classification, big data, scalability">
	<meta name="author" content="Pierre Lassalle">
	<title>Pierre Lassalle | Tutorials</title>

	<link href="../css/tuto.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script> 
	$(document).ready(function(){
		$("#show").click(function(){
		    $("#algo-solution").show();
		});
	});
    </script>

	</head>

	<body>

	<header>
		<nav style="background-color:#7e9d62;">
			<ul class="menu">
				<li><a class="nav-link" href="../algos.html">Go back to the Algo Planet</a></li>
			</ul>
		</nav>
	</header>

		<div id="container">
			<div class="content">
